html {
    background: url(./img/bg.png);
    background-position: center;
    background-attachment: fixed;
    

}

.mainplanets {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 50%;

}
.mainplanets img {
    border-radius: 100px;
    box-shadow: 0px 0px 30px white;
    transition: all 1s;
}


.mainplanets img:hover {
    scale: 1.5;
    transition: all 1s;
    z-index: 100;

}

.mainplanets img:not(:hover){
    filter: brightness(30%);
    filter: blur(7px);

}



@keyframes flyaway {
    from{
        opacity: 1;
        transform: translate(0px);
    }
    to{
        transform: translateY(-1000px);
        opacity: 0;
    }
}



@media screen and (max-width: 584px) {
    .mainplanets{
        flex-wrap: wrap;
    }
}